<!DOCTYPE html>

<html>
    <head>
        <title>ABOUT</title>
        <link rel="icon" href="/img/two.png">
        <link rel="stylesheet" href="/css/style.css">
        

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img src="/img/one.png" class="image">
            
        </div>
        {{>footer}}
        
    </body>

</html>