<!DOCTYPE html>

<html>
    <head>
        <title>HELP</title>
        <link rel="icon" href="/img/two.png">
        <link rel="stylesheet" href="/CSS/style.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>help desk</p>
            
        </div>
        {{>footer}}
        
    </body>

</html>